<!-- <div><a class="active" routerLink="/fetch-orders">Go to home</a></div>
<p>The order has been verified Successfully !!!</p> -->


<div class="container mt-5">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Success!</h4>
    <p>{{ message }}</p>
    <!-- <img src="assets/images/success.svg" alt="Success Icon" class="img-fluid d-block mx-auto" width="100"> -->
    <em class="sucess img-fluid d-block mx-auto"></em>
    <hr>
    <p class="mb-0">
      <a routerLink="/" class="btn btn-primary">Back to Home</a>
    </p>
  </div>
</div>