.primary-theme {
  background-color: #f96332 !important;
}

.fetch-orders-button {
  padding: 80px;
  margin-left: 35%;
}

.info-notification {
  width: 80%;
  text-align: center;
  border: 2px dotted;
  margin:auto;
  margin-top: -50px;
}

.raw-orders-grid {
  margin: auto;
  width: 80%;
  height: 300px;
}