<div class="row edit-order-container" *ngIf="!isOrderVerified">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" style="width: 40vw; height: 86vh">
        <pdf-viewer
          [src]="pdfSrc"
          [render-text]="true"
          [original-size]="false"
          style="width: 41vw; height: 83vh"
        ></pdf-viewer>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="width: 40vw; height: 86vh">
      <div class="card-body">
        <table class="table table-striped">
          <thead class="thead-primary">
            <tr>
              <th scope="col">Field</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let field of editOrderKeys">
              <td scope="row">{{ field }}</td>
              <td scope="row" [ngClass]="{'highlight-red' : editOrderMetadata[field].highlight}"
                  [ngbTooltip]="lowConfidenceTooltip"
                  position="top"
                  container="body"
                  [disableTooltip]="!editOrderMetadata[field].highlight">
                <div *ngIf="!editOrderMetadata[field].isEditable">
                  {{ editOrder[field] }}
                </div>
                <input
                  *ngIf="editOrderMetadata[field].isEditable"
                  [(ngModel)]="editOrder[field]"
                />
              </td>
              <td>
                <em
                  *ngIf="!editOrderMetadata[field].isEditable"
                  class="edit-icon"
                  (click)="editOrderField(field)"
                ></em>
                <em
                  *ngIf="editOrderMetadata[field].isEditable"
                  class="circle-check"
                  (click)="closeInput(field)"
                ></em>
              </td>
            </tr>
          </tbody>
        </table>
        <button [disabled]="disableVerify" (click)="verifyOrder()" class="btn btn-success float-right">
          Verify
        </button>
      </div>
    </div>
  </div>
</div>

<div class="verified-message-container" *ngIf="isOrderVerified">
  <app-order-verified-message></app-order-verified-message>
</div>