/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* pdf-viewer scrollbar styles */
.ng2-pdf-viewer-container::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.ng2-pdf-viewer-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the background color of the track */
}

.ng2-pdf-viewer-container::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the background color of the thumb */
  border-radius: 5px; /* Set the border radius of the thumb */
}

.ng2-pdf-viewer-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.ng2-pdf-viewer-container::-webkit-scrollbar-track,
.ng2-pdf-viewer-container::-webkit-scrollbar-thumb {
  /* Set the width of the track */
  border: 3px solid transparent; /* Use a transparent border to simulate the track width */
  background-clip: content-box; /* Ensure the background color only covers the content box */
}